* {
  background-color: #EBEBEB;
}


header {
  display: flex;
  justify-content: center;
  font-family: "PP Fragment", serif-regular;
  align-items: center;
}

footer {
  list-style: none;
}

footer ul li a:hover {
  color: #889F38;
}

/* COLOR PALETTE #171516, #CCB295, #EBEBEB, #9C6C3E, #889F38, #F1F3F6, #BD974D, #2B4716 */

@font-face { 
  font-family: 'PP Fragment'; 
  font-style: serif-regular;  
  src: url("af-portfolio/fonts/PPFragment-SerifRegular.otf") format("opentype")
}